# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [7]:
data={}
type(data)

dict

In [8]:
data1=dict()
type(data1)

dict

In [9]:
data={'Alabama': 'Montgomery', 
      'Arizona': 'Phoenix', 
      'Georgia': 'Atlanta', 
      'Kentucky': 'Frankfort', 
      'Ohio': 'Salem'}
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [10]:
data['Alabama'] # Access values by typing in keys

'Montgomery'

In [11]:
data['Ohio']

'Salem'

In [12]:
data['Louisiana']

KeyError: 'Louisiana'

In [13]:
Days={1: 'Monday', 
      2: 'Tuesday',
      4: ('Thursday', 'Friday'),
      5: ['Saturday', 'Holiday']}
print(Days)

{1: 'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Saturday', 'Holiday']}

In [14]:
Days[4][0]

'Thursday'

In [15]:
Days[5][1]

'Holiday'

In [16]:
Days[2]

'Tuesday'

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [17]:
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [18]:
Days[4][0]

'Thursday'

In [19]:
Days[5][1]

'Holiday'

In [20]:
Days[2]

'Tuesday'

### Update elements of a dictionary and add new elements

In [21]:
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [22]:
Days[5][0]='Holiday'
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [23]:
Days[1]='Holiday'
Days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [24]:
Days[3]='Wednesday'
Days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [25]:
Days[6]=['XYZ','ABC']
Days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday',
 6: ['XYZ', 'ABC']}

### `get` and `update` methods

In [26]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [27]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [28]:
#Access an element using .get method
data.get('Alabama')

'Montgomery'

In [29]:
data.get('Ohio')

'Salem'

In [30]:
print(data.get('Louisiana'))

None

In [31]:
# Update a dictionary
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [32]:
data.update({'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

### Delete dictionary items using `del` and `pop`

In [33]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [34]:
del data['Alabama']
print(data)

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [35]:
del data['Ohio']
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge'}

In [36]:
data.pop('Arizona')
data

{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [37]:
data.pop('Kentucky')

'Louisville'

In [38]:
print(data)

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [39]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [40]:
len(data)

2

In [41]:
data.keys() # The keys from the dictionary

dict_keys(['Georgia', 'Louisiana'])

In [42]:
data.values() # The values from the dictionary

dict_values(['Atlanta', 'Baton Rouge'])

In [43]:
data.items()

dict_items([('Georgia', 'Atlanta'), ('Louisiana', 'Baton Rouge')])

### Loop through a dictionary

In [44]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [45]:
for key in data.keys():
    print(type(key))
    print(key)

<class 'str'>
Georgia
<class 'str'>
Louisiana

In [46]:
for value in data.values():
    print(value)
    print(type(value))

Atlanta
<class 'str'>
Baton Rouge
<class 'str'>

In [47]:
for item in data.items():
    print(item)
    print(type(item))

('Georgia', 'Atlanta')
<class 'tuple'>
('Louisiana', 'Baton Rouge')
<class 'tuple'>

In [48]:
for state,capitol in data.items():
    print(state,capitol)
    print(type(state), type(capitol))
    print('State Names', state)
    print('Capitol Names', capitol)

Georgia Atlanta
<class 'str'> <class 'str'>
State Names Georgia
Capitol Names Atlanta
Louisiana Baton Rouge
<class 'str'> <class 'str'>
State Names Louisiana
Capitol Names Baton Rouge

### Convert dictionary to lists using `list()` function

In [49]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [50]:
State=list(data.keys())
print(State)
print(type(State))

['Georgia', 'Louisiana']
<class 'list'>

In [51]:
Capitol=tuple(data.values())
print(Capitol)
print(type(Capitol))

('Atlanta', 'Baton Rouge')
<class 'tuple'>

### A List in a Dictionary

In [52]:
favorite_languages={
    'Jen': ['Python', 'Ruby'],
    'Sarah': ['C'],
    'Edward': ['Ruby', 'Java'],
    'Phil': ['Python', 'Haskell']
}
print(favorite_languages)

{'Jen': ['Python', 'Ruby'], 'Sarah': ['C'], 'Edward': ['Ruby', 'Java'], 'Phil': ['Python', 'Haskell']}

In [53]:
favorite_languages['Sarah']

['C']

In [54]:
for name,languages in favorite_languages.items():
    print('\n' + name.upper()+ ' favorite languages are: ')
    
    for i in languages:
        print('\t\t\t' + i.upper())

JEN favorite languages are:
			PYTHON
			RUBY

SARAH favorite languages are:
			C

EDWARD favorite languages are:
			RUBY
			JAVA

PHIL favorite languages are:
			PYTHON
			HASKELL

###  A Dictionary in a Dictionary

In [62]:
users={ 
    'einstein': { 
        'first': 'albert', 'last': 'einstein', 'location': 'princeton', 
    }, 
    'mcurie':
    { 'first': 'marie', 'last': 'curie', 'location': 'paris', 
    }, 
} 
print(users)

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'}, 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [64]:
for username, user_info in users.items(): 
    print('Username: ', username) 
    #print('User info: ', user_info) 
    full_name= user_info['first'] + ' ' +user_info['last'] 
    print(full_name)
    location=user_info['location']
    print('\t Full name is: ', full_name)
    print('\t Location is: ', location)

Username:  einstein
albert einstein
	 Full name is:  albert einstein
	 Location is:  princeton
Username:  mcurie
marie curie
	 Full name is:  marie curie
	 Location is:  paris