## Practice Questions Dictionary and List

### List reverse

In [1]:
Lista=[34,67,45,23,12,43]

Lista[::-1]

[43, 12, 23, 45, 67, 34]

### Convert the lists to dictionary
* keys = ['Ten', 'Twenty', 'Thirty']
* values = [10, 20, 30]

In [5]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
list(zip(keys,values))

[('Ten', 10), ('Twenty', 20), ('Thirty', 30)]

In [6]:
dict(zip(keys,values)) #This is how convert list to dictionary

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [7]:
tuple(zip(keys,values)) #list to tuple

(('Ten', 10), ('Twenty', 20), ('Thirty', 30))

### Marge the following two dictionaries and keep the original dictionaries as it is
* dict0 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
* dict1 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [9]:
dict0 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict1 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [10]:
dict2=dict0.copy()
dict2

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [11]:
dict2.update(dict1)
dict2

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Access 70 from dictionary
 * Dict3 = { "class":{ "student":{ "subject":{ "physics":70,"history":80}}}}

In [13]:
Dict3 = { "class":{ "student":{ "subject":{ "physics":70,"history":80}}}}
Dict3

{'class': {'student': {'subject': {'physics': 70, 'history': 80}}}}

In [14]:
Dict3['class']['student']['subject']['physics']

70

 Dict4 = {
  "name": "Mark",
  "age":21,
  "College": "Junior",
  "city": "Atlanta"}
 * Extract keys = ["name", "city"]
 * Expecte output: {'name': 'Mark', 'city': 'Atlanta'}

In [18]:
Dict4 = { "name": "Mark", "age":21, "College": "Junior", "city": "Atlanta"}
keys=['name', 'city']
for K in keys:
    print({K:Dict4[K]})

{'name': 'Mark'}
{'city': 'Atlanta'}

### Dict7 = {'a': 100, 'b': 200, 'c': 300}
 * Check if value 200 is present or not

In [21]:
Dict7 = {'a': 100, 'b': 200, 'c': 300}
print(200 in Dict7.values())

True

In [22]:
print(400 in Dict7.values())

False

### check the key 'c' is present in the dict or not

In [23]:
print('c' in Dict7.keys())

True

###  Update Bradâ€™s salary to 7500 
* sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 5500},
     'emp2': {'name': 'Emma', 'salary': 7000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

In [34]:
sampleDict = {
    'emp1': {
        'name': 'John', 'salary': 5500
    }, 
    'emp2': {
        'name': 'Emma', 'salary': 7000
    }, 
    'emp3': {
    'name': 'Brad', 'salary': 6500
    } 
}
sampleDict

{'emp1': {'name': 'John', 'salary': 5500},
 'emp2': {'name': 'Emma', 'salary': 7000},
 'emp3': {'name': 'Brad', 'salary': 6500}}

In [35]:
sampleDict['emp3']['salary']

6500

### Find who is younger
Dict9 = {
  'Sam': 82,
  'Harry': 65,
  'Jack': 75
}

In [30]:
Dict9 = { 'Sam': 82, 'Harry': 65, 'Jack': 75 }
Dict9

{'Sam': 82, 'Harry': 65, 'Jack': 75}

In [32]:
temp=min(Dict9.values())
print(temp)

65

In [33]:
for key in Dict9:
    if Dict9[key]==temp:
        print(key)

Harry

In [38]:
temp2=max(Dict9.values())
for value in Dict9:
    if Dict9[value]==temp2:
        print(value)

Sam

### Update **city to location**
 Dict10 = {
  "name": "Mark",
  "age":21,
  "College": "Junior",
  "city": "Atlanta"}

In [48]:
Dict10 = { "name": "Mark", "age":21, "College": "Junior", "city": "Atlanta"}
Dict10

{'name': 'Mark', 'age': 21, 'College': 'Junior', 'city': 'Atlanta'}

In [51]:
Dict10['location']=Dict10.pop('city')
Dict10

{'name': 'Mark', 'age': 21, 'College': 'Junior', 'location': 'Atlanta'}